body 
{

    background-repeat:no-repeat; 
    background-color: white; 
    background-position:center top;
 
    color: black 
    font-family: "Trebuchet MS", sans-serif;
 
}


header
{

    text-align: center;

    position:relative;
    margin-top:70px; 
 font-family: "Trebuchet MS", sans-serif;
    %background-position:center top;
    text-align: center;
    margin-left:+400px; 
    font-size:200%
  
}

a
{
 font-family: "Trebuchet MS", sans-serif;
    color:black;
    text-decoration: none;
}

a:hover
{
 font-family: "Trebuchet MS", sans-serif;
    color:CC0000;
    text-decoration: none;
}


table.sqtable
{
 font-family: "Trebuchet MS", sans-serif;
    position:relative;
    display:block;
    text-align:center;
    left: 50%; 
    margin-left:-337px;
    width:675px;
    %margin-top:200px; 
%vertical-align:center; 

}

p.publitype
{
 font-family: "Trebuchet MS", sans-serif;
        font-size:120%;
	font-weight:bold;
	text-align:left;
}

p.publis
{
 font-family: "Trebuchet MS", sans-serif;
 text-align:justify;
}
p.CV
{
 font-family: "Trebuchet MS", sans-serif;
    text-align:justify;
}
p.CV2
{
 font-family: "Trebuchet MS", sans-serif;
    text-align:center;
}
